<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRelationsDataService"/>
                <binding name="BasicHttpBinding_IHotelService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50809/RelationsDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelationsDataService" contract="RelationsServiceReference.IRelationsDataService" name="BasicHttpBinding_IRelationsDataService"/>
            <endpoint address="http://localhost:50809/HotelService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService" contract="HotelServiceReference.IHotelService" name="BasicHttpBinding_IHotelService"/>
        </client>
    </system.serviceModel>
  <log4net>
    <root>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ErrorFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\info.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.FileAppender">
      <file value="Logs\errors.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
